# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install dependencies (Ubuntu)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update -y
        sudo apt-get install -y git gcc-13 g++-13 cmake libboost-all-dev libopencv-dev libeigen3-dev libfmt-dev liblz4-dev libzstd-dev libssl-dev libusb-1.0-0-dev

    - name: Set VCPKG_ROOT (Windows)
      if: runner.os == 'Windows'
      shell: bash
      run: |
        echo "VCPKG_ROOT=${{ env.VCPKG_INSTALLATION_ROOT }}" >> "$GITHUB_ENV"

    - name: Configure CMake (Ubuntu)
      if: runner.os == 'Linux'
      run: >
        cmake -B {{ steps.strings.outputs.build-output-dir }}
          -DCMAKE_C_COMPILER=clang
          -DCMAKE_CXX_COMPILER=clang++
          -DCMAKE_BUILD_TYPE=Release
          -DBUILD_SHARED_LIBS=OFF
          -S ${{ github.workspace }}

    - name: Configure CMake (Windows)
      if: runner.os == 'Windows'
      run: >
        cmake -B {{ steps.strings.outputs.build-output-dir }}
          -DCMAKE_TOOLCHAIN_FILE=$env{VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake
          -DCMAKE_C_COMPILER=clang
          -DCMAKE_CXX_COMPILER=clang++
          -DCMAKE_BUILD_TYPE=Release
          -DBUILD_SHARED_LIBS=OFF
          -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }}
